<!DOCTYPE html>
{# djlint:off H030,H031 #}
<html lang="en">
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
        <title>
            Polls:
            {% block title %}
            {% endblock title %}
        </title>
    </head>
    <body>
        <div id="header-container">
            <div id="header">
                <div id="header-user-name">
                    {% block header %}
                        {% if user.is_authenticated and user.username %}<p>Hello, {{ user.username }}</p>{% endif %}
                    {% endblock header %}
                </div>
                <a href="{% url 'polls:index' %}">Home</a>
                <form class="search-form" action="{% url 'polls:search' %}" method="post">
                    {% csrf_token %}
                    <input type="search" name="search_term" placeholder="Search" />
                    <button type="submit" class="search-button" value="Search">Search</button>
                </form>
                <a href="{% url 'polls:create_question' %}">Create Poll</a>
                <div id="header-logout-container">
                    {% block logout %}
                        {% if user.is_authenticated %}
                            <a href="{% url 'polls:logout' %}">Logout</a>
                        {% else %}
                            <a href="{% url 'polls:login' %}">Login</a>
                            <a href="{% url 'polls:signup' %}" class="signup-link">Signup</a>
                        {% endif %}
                    {% endblock logout %}
                    {% comment %} <a href="{% url 'polls:signup' %}">Signup</a> {% endcomment %}
                </div>
            </div>
        </div>
        <div id="content">
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>
{# djlint:on #}
