{% extends "polls/base.html" %}
{% block content %}
    <form action="{% url 'polls:signup_submit' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username" id="username" placeholder="Username" />
        <input type="text" name="email" id="email" placeholder="E-mail" />
        <input type="password" name="password" id="password" placeholder="Password" />
        <input type="password"
               name="password2"
               id="password2"
               placeholder="Repeat your password"/>
        <button type="submit" id="submit" class="submit-button" value="Signup">Signup</button>
    </form>
    <script>
	username = document.getElementById('username');
	email = document.getElementById('email');
	password1 = document.getElementById('password');
	password2 = document.getElementById('password2');
	submit = document.getElementById('submit');
	submit.disabled = true;
	emailRegex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])+\.(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/;

	isFormValid = function() {
		if (password1.value != password2.value || password1.value == '' || password2.value == '' || username.value == '' || !emailRegex.test(email.value)) {
			return false;
		}
		else {
			return true;
		}
	}

	username.onkeyup = function() {
		if (isFormValid()) {
			submit.disabled = false;
		}
		else {
			submit.disabled = true;
		}
	}

	email.onkeyup = function() {
		if (isFormValid()) {
			submit.disabled = false;
		}
		else {
			submit.disabled = true;
		}
	}

	password1.addEventListener('keyup', function(){
		if(isFormValid()) {
			submit.disabled = false;
		}
		else{
			submit.disabled = true;
		}
	} );

	password2.addEventListener('keyup', function(){
		if(isFormValid()) {
			submit.disabled = false;
		}
		else{
			submit.disabled = true;
		}
	} );
    </script>
{% endblock content %}
